/* MASTER STYLES */

/* the text of everything */
body {
    font-family: "Lato", sans-serif;
    margin: 0px;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
}

/* NAV STYLES */
.nav-wrapper {
    /* allows us to change size of screen and still maintain relative position */
    display: flex;
    /* puts it to the other side of the page */
    justify-content: space-between;
    /* puts space all around the text */
    padding: 38px;
}

.left-side {
    /* puts both nav sites next to each other */
    display: flex;
}

/* the side of the nav links */
.nav-wrapper >.left-side > div {
    margin-right: 20px;
    font-size: 0.9em;
    text-transform: uppercase;
}

/* the nav links themselves */
.nav-link {
    height: 22px;
    /* gives a border at the bottom of the names */
    border-bottom: 1px solid transparent;
    /* makes the border do an animation */
    transition: border-bottom 0.5s;
}

/* also links */
.nav-link a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

/* when you hover over it, the border appears */
.nav-link:hover {
    border-bottom: 1px solid black;
}

/* the link also turns black when you hover */
.nav-link a:hover {
    color: black;
}

/* the border stays if we are on the active nav link */
.active-nav-link {
    border-bottom: 1px solid black;
}

/* it is also painted black */
.active-nav-link a {
    color: black !important;
}


/* ABOUT PAGE */
.two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* this targets just the image */
.profile-image img{
    width: 100%;
}

.profile-content {
    padding: 30px;
}
